* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  border: 0.1px dotted red;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #DAF0FF;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 40vh;
  background: rgba(247, 248, 251, 0.8);
  border-radius: 40px;
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(96, 190, 255, 0.55);
}
